<div style="margin: 2%" style="box-shadow: var(--gr-shadow-x-large); width: 100%">
  <gr-select name="{{ property('name').getTypehintName() }}" class="unhandled-tab-split" label="Type for {{ property('name') }}">
    {% for tab in property('tabs') %}
      <gr-menu-item value="{{ tab }}">{{ tab }}</gr-menu-item>
    {% endfor %}
  </gr-select>
  <div>
  </div>
</div>
<apie-script>
(function(element){
  element.classList.remove('unhandled-tab-split');
  const templates = {};
  {% for tab in property('tabs') %}
    templates[{{ tab|e|json_encode|raw }}] = {{ component(tab) | json_encode | replace({'<': '&lt;'}) | raw }};
  {% endfor %}
  element.addEventListener('gr-change', function (event) {
    const target = event.target || element;
    setInnerHtml(target.nextElementSibling, templates[target.value])
  })
  setInnerHtml(element.nextElementSibling, templates[element.value])
})(document.querySelector('.unhandled-tab-split'));
</apie-script>