<apie-form-group class="unhandled_group" name="{{ property('groupName') }}" style="box-shadow: var(--gr-shadow-small); width: 100%">
  {% for key in property('keys') %}
    {% if property('wrapScalar') and property('names')[key] %}
      <apie-scalar-element name="{{ property('names')[key] }}">
      {{ component(key) }}
      </apie-scalar-element>
    {% else %}
      {{ component(key) }}
    {% endif %}
  {% endfor %}
</apie-form-group>
<apie-script>
(function (elm) {
  elm.classList.remove('unhandled_group');
{% if property('wrapScalar') %}
  elm.value = {{ property('value') | json_encode | raw}};
{% endif %}
}(document.querySelector('apie-form-group.unhandled_group')));
</apie-script>
  {%- if property('validationError') -%}
    <div class="form-control-invalid-text">
      <div class="text">{{ property('validationError') }}</div>
    </div>
  {%- else -%}
    {%- for key,description in property('missingValidationErrors') -%}
      <div class="form-control-invalid-text">
        <div class="text">{{ description }}</div>
      </div>
    {%- endfor -%}
  {%- endif -%}