<html>
    <head>
        <title>{{ property('title') }}</title>
        <style>
            {{ assetContent('main.css') }}
        </style>
        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.4/css/graphite.bundle.css"
  integrity="sha256-gFHf9tmgozxinafVf1kRA43fM6cmXpQecxRncZdH3NI="
  crossorigin="anonymous"
/>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.4/dist/core/core.esm.js"
  integrity="sha256-q5Jy9Y8HgOTpcoKEX2Z4uve7lucflCGuaxcMQezTtog="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/@revolist/revogrid@3.2.11/dist/revo-grid/revo-grid.js"></script>
    </head>
    <body>
      <div class="layout">
        <nav>
          {{ component('top') }}
        </nav>
        <aside style="background-color: white; z-index: 30; position: fixed; left: 0; top: 0;bottom: 0; width: 20%">
          {{ component('menu') }}
        </aside>
        <div style="padding-left: 21%; width: 79%;">
          {{ component('content') }}
        </div>
      </div>
    </body>
</html>