<html>
    <head>
        <title>{{ property('title') }}</title>
        <style>
            {{ assetContent('main.css') }}
        </style>
        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.5/css/graphite.bundle.css"
  integrity="sha256-gFHf9tmgozxinafVf1kRA43fM6cmXpQecxRncZdH3NI="
  crossorigin="anonymous"
/>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.5/dist/core/core.esm.js"
  integrity="sha256-X596KR2pkHnXVlgT0v2btsGxOW0eUVIPb8mcQnfiRko="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/@revolist/revogrid@3.7.0/dist/revo-grid/revo-grid.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="module" src="https://unpkg.com/apie-stacktrace@0.1.2/dist/apie-stacktrace/apie-stacktrace.esm.js" crossorigin></script>
<script>{{ assetContent('main.js') }}</script>
    </head>
    <body>
      <div class="layout">
        <nav>
          {{ component('top') }}
        </nav>
        <aside style="background-color: white; z-index: 30; position: fixed; left: 0; top: 0;bottom: 0; width: 20%">
          {{ component('menu') }}
        </aside>
        <div style="padding-left: 21%; width: 79%;">
          {{ component('content') }}
        </div>
      </div>
      <div class="apie-sidebar">
      </div>
      <script type="text/javascript">
(function (sidebar) {
  document.addEventListener('click', (e) => {
    if (sidebar.classList.contains('active')) {
      let elm = e.target;
      while (elm) {
        if (elm === sidebar) {
          return;
        }
        elm = elm.parentNode
      }
      sidebar.classList.remove('active');
      sidebar.innerHTML = '';
    }
  });
}(document.querySelector('.apie-sidebar')));
      </script>
    </body>
</html>