<html>
    <head>
        <title>{{ property('title') }}</title>
        <style>
            {{ assetContent('main.css') }}
        </style>
        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.4/css/graphite.bundle.css"
  integrity="sha256-gFHf9tmgozxinafVf1kRA43fM6cmXpQecxRncZdH3NI="
  crossorigin="anonymous"
/>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@graphiteds/core@1.9.4/dist/core/core.esm.js"
  integrity="sha256-q5Jy9Y8HgOTpcoKEX2Z4uve7lucflCGuaxcMQezTtog="
  crossorigin="anonymous"
></script>
    </head>
    <body>
      <div class="layout">
        <nav>
          {{ component('top') }}
        </nav>
        <div>
          {{ component('menu') }}
        </div>
        <div>
          {{ component('content') }}
        </div>
      </div>
    </body>
</html>